body{
    background-color: burlywood;
    font-size: 25px;
    margin: 600px 
}

img{
    height: 300px;
    width: 300px;
}
p,
ol,
ul {
    width: 500px;
}
img{
    height: 375px;
    width: 500px;
}
.btn{
    font-size: 20px;
    width: 120px;
    height: 30px;
    display: block;
    text-decoration: none;
    color: black;
    background-color : blue;
    border: black 1px solid;
    border-radius: 5px;
    text-align: center;


